.mail-edit {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 3;
    background-color: #f2f6fc; 
}

.mail-edit>* {
    padding: 1em;
}

.mail-edit header {
    position: relative;
    margin-block-start: 40px;
    margin-inline-end: 15px;
    background-color: #f2f6fc;
}

.mail-edit header>* {
    font-size: 0.9rem;
    font-weight: lighter;
}

.mail-edit header button {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mail-edit form {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 30px 30px 1fr 50px;
    background-color: white;
    padding-block: 0.2em;
    gap: 10px;
}

.mail-edit input,
.mail-edit textarea {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    border-bottom: 1px solid #222222; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    resize: none;
    box-sizing: border-box;
}

.mail-edit textarea {
    border: none;
}

.mail-edit .subject {
    display: flex;
    align-items: flex-end;
}

.mail-edit .subject textarea {
    border-bottom: 1px solid #222222; 
}

.mail-edit .send-btn {
    justify-self: start;
    color: #ffffff; 
    background-color: #0b57d0; 
    border: none;
    border-radius: 30px;
    margin-block: 10px;
    padding: 0.2em 1.2em;
    cursor: pointer;
}

.mail-edit .send-btn:hover {
    background-color: #0a50bf;
}

.mail-edit input:focus, 
.mail-edit textarea:focus, 
.mail-edit button:focus {
    outline: none;
}

.mail-edit .loader1 {
    margin-top: 2em;
}

@media (min-width: 550px) {
    .mail-edit {
        position: absolute;
        right: 40px;
        width: 400px;
        height: 400px;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
                    0 3px 14px 2px rgba(0, 0, 0, 0.12), 
                    0 5px 5px -3px rgba(0, 0, 0, 0.2); 
        border-radius: 5px;
        left: unset;
    }

    .mail-edit header {
        margin-block-start: 0;
    }

    .mail-edit form {
        grid-template-rows: 30px 30px 1fr 50px;
    }
}
