.folder-list {
    max-width: 256px; 
    max-height: 100vh;
    height: 100%;

    background-color: var(--mail-color1);
    color: var(--mail-font1);
}

.folder-list button {
    color: inherit;
    background-color: inherit;

    font-size: inherit;
    font-family: inherit;
}

.folder-list .btn-compose-container {
    height: 100%;
    max-height: 56px;

    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 8px;
}

.folder-list .btn-compose {
    display: flex;
    align-items: center;
    max-width: 142.46px;
    height: 100%;
    max-height: 56px;

    background-color: #C2E7FF;
    padding:0;
    padding-right: 24px;
    
    border-radius: 1rem;

    transition: box-shadow .08s linear, 
                min-width .15s cubic-bezier(0.4,0,0.2,1);
}

.folder-list .btn-compose:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 
                0 4px 8px 3px rgba(60, 64, 67, .15);
}

.folder-list .btn-compose span {
    line-height: 2rem;
    font-family: 'GoogleSans-Med';
    color: #001D35;
    padding:0;
    margin: 0;
    text-align: left;
}

.folder-list div.materials {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    width: 56px;
    height: 20px;

    font-size: 24px;
}

.folder-list .btn-folder {    
    padding-left: 26px;
    padding-right: 12px;
    padding-block: 0;

    max-height: 32px;

    display: flex;
    align-items: center;

    max-width: 240px;
    width: 100%;

    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;


    transition: margin .15s cubic-bezier(0.4,0,0.2,1), 
    padding .15s cubic-bezier(0.4,0,0.2,1);
}

.folder-list .btn-folder.active {
    background-color: var(--mail-color5);
    /* background-color: #eaebef; */
}

.folder-list .btn-folder.active :not(.materials) {
    font-family: var(--mail-font3);
    color: var(--mail-gray2);
}

.folder-list .btn-folder:hover {
    background-color: var(--mail-color4);
}

.folder-list .btn-folder div {
    height: 20px;
    width: 20px;
    margin-right: 18px;

    display: flex;
    align-items: center;
}

.folder-list .btn-folder .label {
    display: flex;

    font-family: var(--mail-font1);
    color: var(--mail-gray1);
    -webkit-font-smoothing: antialiased;
    line-height: 1.4286em;
    /* font-size: 0.875rem;s */

    margin-right: auto;
}

.folder-list .btn-inbox .label {
    font-family: var(--mail-font3);
}

.folder-list .btn-folder .unread {
    color: #5F6368;
    font-size: 0.75rem;
}

.folder-list .btn-folder .materials {
    font-size: 1rem;
    color: #2f2c2c;  
    opacity: 0.8;
    font-variation-settings: '0' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
    font-weight: 500;
}

.folder-list .btn-folder.active .materials {
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
    color: var(--mail-gray1);
    opacity: 1;   

}