.mail-list {
    /* overflow-y: scroll; */
    background-color: white;
    display: grid;
    grid-template-rows: 1fr;
    flex-direction: column;
    /* flex-grow: 1; */

    /* height: 100%; */
    /* max-height: 100vh; */
    /* max-height: calc(100% - 56px); */
    padding-block-end: 12px;
    margin-block-end: 14px;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.mail-list div:first-of-type {
    /* height: 100%;
    max-height: 100%; */
}

.mail-list .empty-folder-msg {
    padding: 10px 8px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: var(--mail-gray1)
}

.mail-list .empty-folder-msg .send-link {
    text-decoration: underline;
    cursor: pointer;
    color: #0000EE;
}

.loader1 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    animation: rotate 1.2s linear infinite;
    box-shadow:
        0px -20px 0px 0px rgba(66, 133, 244, 1), 
        14px -14px 0px 0px rgba(234, 67, 53, 1), 
        20px 0px 0px 0px rgba(251, 188, 5, 1),
        14px 14px 0px 0px rgba(52, 168, 83, 1); 
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader2 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow:
        0 0 0 2px rgba(66, 133, 244, 0.6),
        0 0 0 6px rgba(52, 168, 83, 0.3),
        0 0 0 10px rgba(251, 188, 5, 0.3),
        0 0 0 14px rgba(234, 67, 53, 0.3);
    animation: animLoader 1s infinite linear;
}

@keyframes animLoader {
    0% {
        transform: rotate(0deg);
        box-shadow:
            0 0 0 2px rgba(66, 133, 244, 0.6),
            0 0 0 6px rgba(52, 168, 83, 0.3),
            0 0 0 10px rgba(251, 188, 5, 0.3),
            0 0 0 14px rgba(234, 67, 53, 0.3);
    }
    50% {
        transform: rotate(180deg);
        box-shadow:
            0 0 0 2px rgba(234, 67, 53, 0.6),
            0 0 0 6px rgba(251, 188, 5, 0.3),
            0 0 0 10px rgba(52, 168, 83, 0.3),
            0 0 0 14px rgba(66, 133, 244, 0.3);
    }
    100% {
        transform: rotate(360deg);
        box-shadow:
            0 0 0 2px rgba(66, 133, 244, 0.6),
            0 0 0 6px rgba(52, 168, 83, 0.3),
            0 0 0 10px rgba(251, 188, 5, 0.3),
            0 0 0 14px rgba(234, 67, 53, 0.3);
    }
}