:root {
    --main-bg-color: lightblue;
    --note-input-font: 'RobotoRegular';

    --logo-clr-blue: #4285F4; /* Gmail Blue */
    --logo-clr-red: #EA4335; /* Gmail Red */
    --logo-clr-yellow: #FBBC05; /* Gmail Yellow */
    --logo-clr-green: #34A853; /* Gmail Green */

    /* Mail */
    --mail-color1: #f6f8fc; /* Main Bgc */
    --mail-color2:  #f2f6fc; /* Mail Preview (Read) */
    --mail-color3: #eaf1fb; /* Search Bar Bgc */
    --mail-color4: #eaebef; /* Folder List Hover */
    --mail-color5: #d3e3fd; /* Folder List Selected */

    --mail-gray1: #202124; /* Main Font Color */
    --mail-gray2: #001D35; /* Folder List Active Color */
    --mail-gray3: #e1e7ee;

    --mail-font1: 'GoogleSans-Reg';  /* Main Font fw400 */
    --mail-font2: 'GoogleSans-Med';  /* Main Font fw500 */
    --mail-font3: 'GoogleSans-Bold';  /* Main Font fw600 */

}