.navbar {
    grid-column: 1;
    width: 230px;
    height: 100vh;
    border-right: 1px rgba(136, 136, 136, 0.4) solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.06);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
}

.type-filter{
    background:none;
    font-family: var(--note-input-font);
    font-size: 14px;
    letter-spacing: 0.9px;
    height: 50px;
    line-height: 20px;
    font-weight: bolder;
}

.type-filter-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding-left: 20px;
}

.type-filter-container:hover{
    background-color: rgb(254, 239, 195);
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}