.header-section{
    display: flex;
    /* grid-auto-columns: repeat(2,2fr,1fr) ; */
    border-bottom: rgba(136, 136, 136, 0.4) solid 1px;
    background-color: var(--mail-color1);
    align-items: center;
    height: 64px;
    gap: 30px;
    padding-bottom: 20px;
}

.logo{
    grid-column: 2;
    justify-self: end;
    padding-right: 40px;
    padding-left: 26px;

    display: flex;
    align-items: center;
}

.keep{
    color: #5F6368;
    font-size: 22px;
    font-family: 'GoogleSans-Reg';
    padding-right: 8px;
}

.input-filter-container{
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
    border-radius: 10px;
}

.fa-search{
    top: 50%; /* Center the icon vertically */
    left: 16px;
    transform: translateY(-50%); /* Correct vertical alignment */
    position: absolute;
    color: #5F6368;
}

.input-filter-container input{
    width: 722px;
    height: 48px;
    border-radius: 8px;
    background-color: rgb(241, 243, 244);
    font-size: 16px;
    font-family: var( --note-input-font);
    padding-left: 60px;
    border-radius: 10px;
}

.input-filter-container input:focus{
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Slight shadow increase on focus */
    border-bottom-color: #888; 
    outline: none
}