.txt-card{
    padding: 20px;
    padding-bottom: 40px;

}

.card{
    position: relative;
    border: 1px solid #e0e0e0;
    font-family: var(--note-input-font);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: max-content;
    border-radius: 10px;    
    width: 100%;
    max-width: 400px; 
    min-width: 240px;
    min-height:104px;
}

.image-card{
    position: relative;
}

.note-title{
    font-size: 1em;
    color: #202124;
}

.image-card .note-title{
    padding: 12px 16px 30px;
}

.note-txt {
    font-size: 14px;
    max-width: 100%; /* Inherit from the parent card's width */
    word-wrap: break-word; /* Ensure long words break and wrap */
    word-break: break-word; /* Also ensure that long words will break */
    white-space: normal; /* Ensure the text wraps */
}
.note-img{
    display: block;
    border-radius: 10px;
    object-fit: cover;
    min-height: 200px;
    max-height: 238px;
    height: 100%;
}

.card-navbar{
    display: none;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(202, 202, 202, 0.7);
}

.card:hover .card-navbar{
    display: block;
}

.card:hover .fa-thumbtack{
    visibility: visible;
}

.fa{
    background: none;
    border: none;
    font-size: 1.2em;
}

.fa-thumbtack {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    padding: 5px;
    color: rgb(150, 148, 148);
    opacity: 0.6;  /* Initial opacity */
    width: 32px;
    background-color: transparent;
    border: 1px solid transparent;  /* Initially transparent border */
    border-radius: 50%;
    transition: opacity 0.4s ease, background-color 0.4s ease,   /* Smooth transition for opacity, background, and border */
}

.fa-thumbtack:hover {
    opacity: 1;  /* Change opacity to 1 on hover */
    background-color: rgb(230, 227, 227);  /* Background fills in */
    outline-color: black;
}

/*todo-card*/

.todo-txt{
    display: flex;
    gap: 0.4em;
    align-items: center;
}