.color-palette {
    position: absolute;
    top: 110px;
    display: flex; 
    gap: 10px; 
    background-color: white; 
    padding: 10px; 
    border: 1px solid #e0e0e0;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

.color-circle {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    cursor: pointer; 
    border: 1px solid #ccc; 
    transition: transform 0.2s ease-in-out; 
}

.color-circle:hover {
    border: 1px solid #000; 
}
